.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background: #127471;
  background: -webkit-linear-gradient(-90deg, #127471,#4f2081 );
  background: -o-linear-gradient(-90deg, #127471,#4f2081);
  background: -moz-linear-gradient(-90deg, #127471, #4f2081);
  background: linear-gradient(-90deg, #127471,#4f2081);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color:white !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #6E2C00  s !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
.carousel-caption h3 {
    color:#6E2C00   !important;
}



<style>
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
</style>
